html{
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

body{
  width:100%;
	height:100%;
  margin: 0;
  background: black;
  /* font-family: 'Quicksand', sans-serif;  */
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Ubuntu', sans-serif; 
  color: white !important;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, .8), 1px 1px 1px rgba(0, 0, 0, .8), -1px 1px 1px rgba(0, 0, 0, .8), 1px -1px 1px rgba(0, 0, 0, .8);  
}

.item-contacto {
  text-decoration: none !important;
  color: #410A61 !important;
  -webkit-transition:0.5s; transition: 0.5s;
}

.item-contacto:hover {
  text-decoration: none;
  color: white !important;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, .8), 1px 1px 1px rgba(0, 0, 0, .8), -1px 1px 1px rgba(0, 0, 0, .8), 1px -1px 1px rgba(0, 0, 0, .8);
  cursor: pointer;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear; 
  zoom: 1.1; 
  -ms-zoom: 1.1; 
  -webkit-zoom: 1.1; 
  -moz-transform: scale(1.1) ;
}

.portada {
  margin-top: 30px;
  position: relative;
}

.portada.active {
  left: -400px;
}

.header {
  margin-top: 70px;
  margin-bottom: 20px;
}
.titulo {
  margin-bottom: 20px;
  margin-top: 30px;
}

.frase {
  margin-top: 30px;
} 

#burger-button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  color: #504083;
  vertical-align: center;
  padding: 0;
  box-shadow: 3px 3px 10px 0px rgba(255,255,255,1);
}

#burger-buttonDown {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #504083;
  cursor: pointer;
  color: white;
  vertical-align: center;
  padding: 0;
  opacity: .8;
  box-shadow: 1px 1px 5px 0px rgba(255,255,255,1);
}



/* ---- section datos ---- */
.datos {
  width: 100%;
  height: auto;
  top: 0;
  position: absolute;
  right: -800px;
  background-color: #DFBDDF;
  margin-top: 30px;
  color: black;
  text-shadow: none;
  display: none;
  overflow: none;
}

#datos .container {
  width: 100%;
}


.datos.active {
  right: 0;
  display: block;
}

#burger-buttonClose {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #410A61;
  cursor: pointer;
  color: white;
  vertical-align: center;
  padding: 0;
  margin-top: 10px;
  box-shadow: 1px 1px 5px 0px #410A61;
  margin-bottom: 4px
}

.columna-i {
  background-color: #DFBDDF;
  border-right: 1px solid #410A61;
  color: #410A61
}

.columna-d {
  background-color: #F3D9F3;
}

.columnas-texto {
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.izquierda {
  padding-right: 30px;
}

.column-image{
  display: inline-block;
}

.fa-quote-left, .fa-quote-right  {
  border: 1px solid #C5AEDB;
}

.fa-lg { font-size:50px !important; min-height:135px; }
.fa-lg:hover { font-size:50px;  }
.fa-stack-1x { -webkit-transition:0.5s; transition: 0.5s; }
.fa-stack-1x:hover { -webkit-transition-timing-function: linear; transition-timing-function: linear; zoom: 1.3; -ms-zoom: 1.3; -webkit-zoom: 1.3; -moz-transform: scale(1.3);}
.fa-square-o { color:transparent; border: 3px solid #410A61; border-radius: 50%; } */

.forms-width {
  margin-right: auto;
}

#sendForm {
  background-color: #410A61;
  border-color: #410A61;
}


.form-control {
  color: #410A61;
  border-color: #5c0d5c80;
}

.form-control:placeholder {
  color: #714898;
}

.form-control:focus {
  color: #410A61;
  border-color: #5c0d5c80;
}




/* ---- Social ---- */
#social {
  padding: 20px 0 0 10px;
  /* display: inline-block;
  position: absolute;
  left: 0; */
}

#social .social-item {
  padding: 10px;
  text-decoration: none;
  list-style: none;
  font-size: 28px;
  color: white;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, .8), 1px 1px 1px rgba(0, 0, 0, .8), -1px 1px 1px rgba(0, 0, 0, .8), 1px -1px 1px rgba(0, 0, 0, .8);
}

#social .social-item:hover {
  color: #410A61;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, .8), 1px 1px 1px rgba(0, 0, 0, .8), -1px 1px 1px rgba(0, 0, 0, .8), 1px -1px 1px rgba(0, 0, 0, .8);
}

#social .social-black:hover {
  font-size: 38px;
  color: black;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .8), 1px 1px 1px rgba(255, 255, 255, .8), -1px 1px 1px rgba(255, 255, 255, .8), 1px -1px 1px rgba(255, 255, 255, .8);
}

#social .social-marine:hover {
  font-size: 38px;
  color: #3312C2;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .8), 1px 1px 1px rgba(255, 255, 255, .8), -1px 1px 1px rgba(255, 255, 255, .8), 1px -1px 1px rgba(255, 255, 255, .8);
}

#social .social-sky:hover {
  font-size: 38px;
  color: #2779E6;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .8), 1px 1px 1px rgba(255, 255, 255, .8), -1px 1px 1px rgba(255, 255, 255, .8), 1px -1px 1px rgba(255, 255, 255, .8);
}

#social .social-red:hover {
  font-size: 38px;
  color: #DF3E0D;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .8), 1px 1px 1px rgba(255, 255, 255, .8), -1px 1px 1px rgba(255, 255, 255, .8), 1px -1px 1px rgba(255, 255, 255, .8);
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #020418;
  background-image: url('../images/dark-universe.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
  top: 0;
}
