html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  width:100%;
	height:100%;
  margin: 0;
  background: black;
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Dosis', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  color: white !important;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, .8), 1px 1px 1px rgba(0, 0, 0, .8), -1px 1px 1px rgba(0, 0, 0, .8), 1px -1px 1px rgba(0, 0, 0, .8);  
}

.portada {
  margin-top: 30px;
  position: relative;
}

.portada.active {
  left: -400px;
}

.header {
  margin-top: 70px;
  margin-bottom: 40px;
}
.titulo {
  margin-bottom: 20px;
  margin-top: 30px;
}

.frase {
  margin-top: 30px;
} 

#burger-button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #504083;
  cursor: pointer;
  color: white;
  vertical-align: center;
  padding: 0;
}

#burger-buttonDown {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #504083;
  cursor: pointer;
  color: white;
  vertical-align: center;
  padding: 0;
  opacity: .8;
}



/* ---- section datos ---- */
.datos {
  width: 100%;
  height: auto;
  top: 0;
  position: absolute;
  right: -800px;
  background-color: #DFBDDF;
  margin-top: 30px;
  color: black;
  text-shadow: none;
  display: none;
  overflow: none;
}

#datos .container {
  width: 100%;
}


.datos.active {
  right: 0;
  display: block;
}

#burger-buttonClose {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #504083;
  cursor: pointer;
  color: white;
  vertical-align: center;
  padding: 0;
  margin-top: 10px;
}

.columna-i {
  background-color: #DFBDDF;
  border-right: 1px solid #410A61;
}

.columna-d {
  background-color: #F3D9F3;
}

.columnas-texto {
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.izquierda {
  padding-right: 30px;
}

.column-image{
  display: inline-block;
}

.forms-width {
  margin-right: auto;
}

#sendForm {
  background-color: #410A61;
  border-color: #410A61;
}



/* ---- Social ---- */
#social {
  padding: 20px;
  /* display: inline-block;
  position: absolute;
  left: 0; */
}

#social .social-item {
  padding: 10px;
  text-decoration: none;
  list-style: none;
  font-size: 28px;
  color: white;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, .8), 1px 1px 1px rgba(0, 0, 0, .8), -1px 1px 1px rgba(0, 0, 0, .8), 1px -1px 1px rgba(0, 0, 0, .8);
}

#social .social-item:hover {
  color: #410A61;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, .8), 1px 1px 1px rgba(0, 0, 0, .8), -1px 1px 1px rgba(0, 0, 0, .8), 1px -1px 1px rgba(0, 0, 0, .8);
}

#social .social-black:hover {
  font-size: 38px;
  color: black;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .8), 1px 1px 1px rgba(255, 255, 255, .8), -1px 1px 1px rgba(255, 255, 255, .8), 1px -1px 1px rgba(255, 255, 255, .8);
}

#social .social-marine:hover {
  font-size: 38px;
  color: #3312C2;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .8), 1px 1px 1px rgba(255, 255, 255, .8), -1px 1px 1px rgba(255, 255, 255, .8), 1px -1px 1px rgba(255, 255, 255, .8);
}

#social .social-sky:hover {
  font-size: 38px;
  color: #2779E6;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .8), 1px 1px 1px rgba(255, 255, 255, .8), -1px 1px 1px rgba(255, 255, 255, .8), 1px -1px 1px rgba(255, 255, 255, .8);
}

#social .social-red:hover {
  font-size: 38px;
  color: #DF3E0D;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .8), 1px 1px 1px rgba(255, 255, 255, .8), -1px 1px 1px rgba(255, 255, 255, .8), 1px -1px 1px rgba(255, 255, 255, .8);
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #020418;
  background-image: url('../images/dark-universe.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
  top: 0;
}
